$bg-color:#000;
$font-color:#fff;
$primary-color: rgb(213,97,3);

body{
	background: $bg-color;
	color:$font-color;
	font-family: 'Roboto', sans-serif; 
}



/*typography*/
h1 {
	font-weight: 900;
	font-size: 1.35em;
	color: $primary-color;
	padding-top: 15px;
	padding-bottom: 75px;
	padding-left: 60px;
}


/*nav*/
.navbar-dark{
	background:$bg-color !important;}

.navbar-brand {
	font-weight: 900;
	font-size: 1.35em;
	color: $primary-color !important;
}	


.navbar-dark .navbar-nav .nav-link {
    color: $font-color;
    font-size: 1em;
	font-weight: 400;
	padding-right: 60px;	
}


.nav-link:focus, .nav-link:hover {
    color: $primary-color !important;
    font-size: 1.1em;
    font-weight: 400;
}

.dropdown-toggle::after {
    display:none
}

.navbar-dark .navbar-toggler {
    border-color: $bg-color;
}


.navbar-dark .navbar-toggler-icon {
 background-image: none !important;
  width:110%;
  color:$font-color;}

.navbar-toggler-icon .fa {transform: scale(2,1); }


.ml-auto, .mx-auto {
   /*margin-left: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.2);*/
/*   text-align: center;
*/   /* margin: 0 !important; */
   /*padding: 0 0 100% 0;
   height: 100%;*/
}

.ml-auto, .mx-auto .nav-link{
	padding-right: 0px;
}

div#navbarCollapse {
    margin: 0 30%;
    /* text-align: center; */
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    /* left: 0; */
    z-index: 1000;
    display: none;
    /* float: left; */
    /* min-width: 10rem; */
    padding: 0;
    margin: 0;
    /* font-size: 1rem; */
/*    text-align: center;
*/    list-style: none;
    background-color: #000;
    /* background-clip: padding-box; */
    /* border: 1px solid rgba(0, 0, 0, 0.15); */
    /* border-radius: 0.25rem; */
}

.dropdown-item {
    /* display: block; */
    /* width: 100%; */
    padding: 0 0 0.25rem 0;
    /* clear: both; */
    /* font-weight: 900; */
     color: #fff; 
    /* text-align: inherit; */
    /* white-space: nowrap; */
    /* background: none; */
    /* border: 0; */
    font-size: 1em;
	font-weight: 400;
}

a.dropdown-item {
    margin-left: 9px;
}

.dropdown-item a:hover {
    color: $primary-color; 
}

/*sliders*/
h3 {
	font-family: 'Cormorant SC', serif;
	top: 70%;
	font-weight: 300;
	font-size: 6em;
	color: $primary-color;

}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
        width: 1%;
}

.carousel-control-next-icon {
    background-image: none;
    position: absolute;
	margin-left: 100px;}

.carousel-control-prev-icon {
    background-image: none;
    position: absolute;
    margin-left: -200px;
}


/*main content*/

section#main_content{
background-color:#fff;
color:#000;
}

section#main_content .col-sm-6{
	padding: 30px 0;

}


/*footer*/
footer{
    font-size: .6em;
    width: 200px;
    margin-top: 2.5em;
}
